{{#productos}}
    <li>{{#upper}}{{nombre}}{{/upper}}<a data-id="{{id}}" href="" class="delete" style="padding-left:20px">delete</a>   <a href="api/mail/{{id}}" class="mail">mail</a></li>
{{/productos}}
