<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset=utf-8>
        <title>Lista de items</title>
    </head>
    <body>
        <div id="container">
            <h2>Lista de productos</h2>
            <form id="alta">
                <input id="nombre" type="text"/>
                <button type="submit">Agregar</button>
            </form>
            <ul id="lista">
                {{> ../../template/producto_partial}}
            </ul>
        </div>

        <script type="text/javascript" src="js/vendor/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="js/vendor/mustache/mustache.js"></script>

        <script type="text/javascript" src="js/app/ui/template/templateFunctions.js"></script>
        <script type="text/javascript" src="js/app/demo.js"></script>
        <script type="text/javascript" src="js/app/service/service.js"></script>
        <script type="text/javascript" src="js/app/service/producto/producto.js"></script>
        <script type="text/javascript" src="js/app/ui/ui.js"></script>
        <script type="text/javascript" src="js/app/ui/producto/producto.js"></script>


        <script>
            $(document).ready(function () {
                demo.ui.producto.init();
            });
        </script>
    </body>
</html>